#top {
  width: 100%;
  height: 1000px;
  background-image: url(https://marketplace.canva.com/MADGyYXsqyw/4/screen_2x/canva-macbook-pro-on-desk-MADGyYXsqyw.jpg);
  background-blend-mode: multiply;
  background-color: #20537c;
  background-size: cover;
  color: #fff;
  font-size: 3em;
text-align: center;
  h1 {
    padding-top: 20%;
  }

  h3 {
    color: rgb(185, 178, 178);
  }
}
